<div ng-include="header.url" onload="currentPage"></div>

<div class="container">
	<div class="row centered mt grid">
		<h3>Style for Button {{itemList['top-thick']}}</h3>
		<div class="mt"></div>
		<div class="col-lg-6">
			<table class="wrap-button"><tr><td>
				<button class="your-Class" style="
				border-top: {{itemList['top-style']}} {{itemList['top-thick']}}px {{itemList['top-color']}};
				border-right: {{itemList['right-style']}} {{itemList['right-thick']}}px {{itemList['right-color']}};
				border-bottom: {{itemList['bottom-style']}} {{itemList['bottom-thick']}}px {{itemList['bottom-color']}};
				border-left: {{itemList['left-style']}} {{itemList['left-thick']}}px {{itemList['left-color']}};				
				border-radius: {{itemList['tl-corner']}}px {{itemList['tr-corner']}}px {{itemList['br-corner']}}px {{itemList['bl-corner']}}px;
				background-color: {{itemList['bg-color']}};">
					Text
				</button>
			</td></tr></table>
		</div>
		<div class="col-lg-6">
			<select ng-change="selectBorder(border)"  ng-model="border">
				<option value="" selected>Select All</option>
				<option ng-repeat="optionStyle in listStyle" ng-value="optionStyle">{{optionStyle}}</option>
			</select>
			<select ng-change="selectBorderStyle(borderStyle)"  ng-model="borderStyle">
				<option value="" selected>Select All</option>
				<option ng-repeat="optionCorner in listCorner" ng-value="optionCorner">{{optionCorner}}</option>
			</select>
			<spectrum-colorpicker
				ng-model="borderColor"
				format="'hex'"
				on-change="onChangeBorderColor(color)">
			</spectrum-colorpicker>
			
			<rzslider rz-slider-model="sliderThick.value" rz-slider-options="sliderThick.options"></rzslider>
			<select ng-change="selectBorderRadius(borderRadius)"  ng-model="borderRadius">
				<option value="" selected>Select All</option>
				<option value="tl">top-left</option>
				<option value="tr">top-right</option>
				<option value="br">bottom-right</option>
				<option value="bl">bottom-left</option>
			</select>
			<rzslider rz-slider-model="sliderRadius.value" rz-slider-options="sliderRadius.options"></rzslider>	
			<spectrum-colorpicker
				ng-model="bgColor"
				format="'hex'"
				on-change="onChangeBackgraundColor(color)"
				options="{
					color: '#ffffff'
				}">
			</spectrum-colorpicker>			
		</div>
	</div>
	
	<div class="row centered mt grid">
		<div class="col-lg-12">
		</div>
	</div>	
</div>

<!--div ng-include="footer.url"></div-->