<div ng-include="header.url" onload="currentPage"></div>

<div class="container">
	<div class="row centered mt grid">
		<h3>Style for Button</h3>
		<div class="mt"></div>
		<div class="col-lg-6">
			<table class="wrap-button"><tr><td>
				<button class="your-Class" style="
				border-top: {{(itemList['top-style'] ? itemList['top-style'] : 'solid')}} {{(itemList['top-thick'] ? itemList['top-thick'] : '1')}}px #ccc;
				border-right: {{(itemList['right-style'] ? itemList['right-style'] : 'solid')}} {{(itemList['right-thick']  ? itemList['right-thick'] : '1')}}px #ccc;
				border-bottom: {{(itemList['bottom-style'] ? itemList['bottom-style'] : 'solid')}} {{(itemList['bottom-thick']  ? itemList['bottom-thick'] : '1')}}px #ccc;
				border-left: {{(itemList['left-style'] ? itemList['left-style'] : 'solid')}} {{(itemList['left-thick']  ? itemList['left-thick'] : '1')}}px #ccc;
				border-radius: {{(itemList['tl'] ? itemList['tl'] : '0')}}px {{(itemList['tr'] ? itemList['tr'] : '0')}}px {{(itemList['br'] ? itemList['br'] : '0')}}px {{(itemList['bl'] ? itemList['bl'] : '0')}}px">
					Text
				</button>
			</td></tr></table>
		</div>
		<div class="col-lg-6">
			<select ng-change="selectBorder(border)"  ng-model="border">
				<option value="" selected>Select All</option>
				<option value="top">top</option>
				<option value="right">right</option>
				<option value="bottom">bottom</option>
				<option value="left">left</option>
			</select>
			<select ng-change="selectBorderStyle(borderStyle)"  ng-model="borderStyle">
				<option value="" selected>Select All</option>
				<option value="none">none</option>	
				<option value="hidden">hidden</option>	
				<option value="dotted">dotted</option>	
				<option value="dashed">dashed</option>	
				<option value="solid">solid</option>	
				<option value="double">double</option>	
				<option value="groove">groove</option>	
				<option value="ridge">ridge</option>	
				<option value="inset">inset</option>	
				<option value="outset">outset</option>	
				<option value="initial">initial</option>	
				<option value="inherit">inherit</option>
			</select>			
			<rzslider rz-slider-model="sliderThick.value" rz-slider-options="sliderThick.options"></rzslider>
			<select ng-change="selectBorderRadius(borderRadius)"  ng-model="borderRadius">
				<option value="" selected>Select All</option>
				<option value="tl">top-left</option>
				<option value="tr">top-right</option>
				<option value="br">bottom-right</option>
				<option value="bl">bottom-left</option>
			</select>
			<rzslider rz-slider-model="sliderRadius.value" rz-slider-options="sliderRadius.options"></rzslider>			
		</div>
	</div>
	
	<div class="row centered mt grid">
		<div class="col-lg-12">
		</div>
	</div>	
</div>

<div ng-include="footer.url"></div>